body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

body .code {
  width: 100%;
  margin: 20px auto 0;
  background-color: #ececec;
  border-top: 5px solid #d6d6d6;
}

body .code code {
  width: 100%;
}

.container div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 200px;
  min-width: 150px;
}

.c1 {
  color: #ddd;
  background-color: #003476;
}

.c2 {
  color: #ddd;
  background-color: #0062d2;
}

.c3 {
  color: #333;
  background-color: #b4d2f7;
}

.c4 {
  color: #333;
  background-color: #d5dfef;
}

.c5 {
  color: #333;
  background-color: #dfe1e5;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.margin-left-1 {
  margin-left: 1px;
}

.margin-left-2 {
  margin-left: 2px;
}

.margin-left-3 {
  margin-left: 3px;
}

.margin-left-4 {
  margin-left: 4px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-6 {
  margin-left: 6px;
}

.margin-left-7 {
  margin-left: 7px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-left-9 {
  margin-left: 9px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-11 {
  margin-left: 11px;
}

.margin-left-12 {
  margin-left: 12px;
}

.margin-left-13 {
  margin-left: 13px;
}

.margin-left-14 {
  margin-left: 14px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-left-17 {
  margin-left: 17px;
}

.margin-left-18 {
  margin-left: 18px;
}

.margin-left-19 {
  margin-left: 19px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-21 {
  margin-left: 21px;
}

.margin-left-22 {
  margin-left: 22px;
}

.margin-left-23 {
  margin-left: 23px;
}

.margin-left-24 {
  margin-left: 24px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-left-26 {
  margin-left: 26px;
}

.margin-left-27 {
  margin-left: 27px;
}

.margin-left-28 {
  margin-left: 28px;
}

.margin-left-29 {
  margin-left: 29px;
}

.margin-left-30 {
  margin-left: 30px;
}

.w50 {
  width: 50%;
  margin: 0 auto;
}

h1 {
  width: 100%;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mostly .c1,
.mostly .c2,
.mostly .c3,
.mostly .c4,
.mostly .c5 {
  width: 100%;
}

@media (min-width: 600px) {
  .mostly .c2,
  .mostly .c3,
  .mostly .c4,
  .mostly .c5 {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .mostly {
    /* Using 33.33%, doesn't always work right due to rounding */
  }
  .mostly .c1 {
    width: 60%;
  }
  .mostly .c2 {
    width: 40%;
  }
  .mostly .c3,
  .mostly .c4 {
    width: 33%;
  }
  .mostly .c5 {
    width: 34%;
  }
}

@media (min-width: 800px) {
  .mostly .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.column .c1,
.column .c2,
.column .c3 {
  width: 100%;
}

@media (min-width: 600px) {
  .column .c1 {
    width: 60%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .column .c2 {
    width: 40%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .column .c3 {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (min-width: 800px) {
  .column .c2 {
    width: 20%;
  }
  .column .c3 {
    width: 20%;
  }
}

.shifter .c1,
.shifter .c2,
.shifter .c3,
.shifter .c4 {
  width: 100%;
}

@media (min-width: 600px) {
  .shifter .c1 {
    width: 25%;
  }
  .shifter .c4 {
    width: 75%;
  }
}

@media (min-width: 800px) {
  .shifter .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.tweaks .c1 {
  padding: 10px;
  width: 100%;
}

@media (min-width: 500px) {
  .tweaks .c1 {
    padding: 20px;
    font-size: 1.5em;
  }
}

@media (min-width: 800px) {
  .tweaks .c1 {
    padding: 40px;
    font-size: 2em;
  }
}

.canvas .container {
  display: block;
}

.canvas .c1,
.canvas .c3 {
  position: absolute;
  width: 250px;
  height: 100%;
  /*
          This is a trick to improve performance on newer versions of Chrome
          #perfmatters
        */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  z-index: 1;
}

.canvas .c1 {
  /*
        Using translate3d as a trick to improve performance on older versions of Chrome
        See: http://aerotwist.com/blog/on-translate3d-and-layer-creation-hacks/
        #perfmatters
        */
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}

.canvas .c2 {
  width: 100%;
  position: absolute;
}

.canvas .c3 {
  left: 100%;
}

.canvas .c1.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.canvas .c3.open {
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}

@media (min-width: 500px) {
  .canvas {
    /* If the screen is wider then 500px, use Flexbox */
  }
  .canvas .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .canvas .c1 {
    position: relative;
    -webkit-transition: none 0s ease-out;
    transition: none 0s ease-out;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .canvas .c2 {
    position: static;
  }
}

@media (min-width: 800px) {
  .canvas body {
    overflow-x: auto;
  }
  .canvas .c3 {
    position: relative;
    left: auto;
    -webkit-transition: none 0s ease-out;
    transition: none 0s ease-out;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.breakpoint {
  margin: 0 auto;
  width: 960px;
}

.breakpoint figure {
  margin: 1em 0;
}

.breakpoint .wp-block-table table {
  width: 100%;
}

.breakpoint .wp-block-separator {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.breakpoint .wp-block-table td,
.breakpoint .wp-block-table th {
  border: 1px solid #ededed;
  padding: 8px 15px;
}

.table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #4f5d73;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid;
  border-bottom-color: #d8dbe0;
}

.table th, .table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid;
  border-top-color: #d8dbe0;
}

th {
  text-align: inherit;
}

@media (max-width: 1024px) {
  .prioity_04 {
    display: none;
  }
}

@media (max-width: 720px) {
  .prioity_04, .prioity_03 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */